:root{
    font-family: 'Bungee Inline', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: 'Righteous', cursive;
    font-family: 'Unbounded', cursive; */
}

body {
    margin: 0;
    color: #202731;
    background-color:  wheat;
    padding: 2em 5em;
    /* overflow: hidden; */
    background-image: url(/static/images/layered-waves-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-block {
    position: relative;
    display: flex;
    padding: 1vh 5vh;
    flex-direction: column;
    /* height: 100vh;
    width: 100vw; */
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
}


.navbar > *> * {
    margin-right: auto;
    text-decoration: none;
}


.top_logo_img {
    height: 5em;
    padding-right: 25vw;
}

.curve {
    display: block;
    position: fixed;
    /* background-image: url(/static/images/layered-waves-haikei.svg); */
    background:black;

}

.form-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5em 0;
}

.brand-image {
    width: 40vw;
}

.middle_block > *{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main_heading {
    padding-bottom: 2em;
}

.middle_block {
    padding: 2em;
    border: 2px solid #202731;
}