:root{
    font-family: 'Bungee Inline', cursive;
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: 'Righteous', cursive;
    font-family: 'Unbounded', cursive; */
}

body {
    margin: 0;
    color: #202731;
    background-color:  wheat;
    padding: 2em 5em;
}

.main-block {
    position: relative;
    display: flex;
    padding: 1vh 5vh;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    gap: 2em;
}


.navbar:first-child {
    margin-right: auto;
}

.top-logo-img {
    height: 10em;
}



