<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ title }} {% endblock title %}</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=PT+Sans+Narrow&family=Righteous&family=Unbounded:wght@900&display=swap" rel="stylesheet">
</head>

<body>
    <div style="display: inline-block;">
        <div class="curve"></div> 
    </div>
    
   <div class="main_block">
     
        <nav class="navbar">
        <div class="logo-main">
            <a href="/">
                <img class="top_logo_img" src="../static/images/new-logo.png" alt="Railway Reservation logo">
            </a>
        </div>

            <div class="top_sub_option">
                <a href="/pnr_number">PNR status</a>
            </div>
            <div class="top_sub_option">
                <a href="/schedule">Train schedule</a>
            </div>
            
            <!-- {% if islogged == 0 %} -->

                <!-- <p>You are not logged in</p> -->
                <div class="top_sub_option">
                    <a href="/view-tickets"></a>
                   <a class="top_sub_option_button" href="/signup">
                       SignUp
                   </a>
               </div>
               <div class="top_sub_option">
                   <a class="top_sub_option_button" href="/login">
                       SignIn
                   </a>
               </div>
             <!-- {% else %} -->
             <div class="top_sub_option"><a href="/tickets">View Tickets</a></div>
             <!-- <a href="/tickets">View Tickets</a> -->
                <!-- <p>You are logged in as {{ username }}</p> -->
                <!-- <a href="/logout">Click here to logout</a> -->
               <div class="top_sub_option">
                <a class="top_sub_option_button" href="/logout">
                    Logout
                </a>
            </div>
             <!-- {% endif %} -->

    </nav>
        {% block content %} 
        <h1>This is a placeholder, if you see this, there's some error</h1>
        {% endblock content %} 
        
    </div>
   
</body>
</html>