<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ title }} {% endblock title %}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

   <div class="main_block">
    <div class="top_header">
        <div class="top_logo">
            <a href="/">
                <img class="top_logo_img" src="../static/images/logo.png" alt="Railway Reservation logo">
            </a>
        </div>
        <div class="top_options">
            <div class="top_sub_option">
                <a href="/pnr_number">PNR</a>
            </div>
            <div class="top_sub_option">
                <a href="/schedule">train shedule</a>
            </div>
            
            {% if islogged == 0 %}

                <!-- <p>You are not logged in</p> -->
                <div class="top_sub_option">
                    <a href="/view-tickets"></a>
                   <a class="top_sub_option_button" href="/signup">
                       SignUp
                   </a>
               </div>
               <div class="top_sub_option">
                   <a class="top_sub_option_button" href="/login">
                       SignIn
                   </a>
               </div>
             {% else %}
               <a href="/tickets">View Tickets</a>
                <!-- <p>You are logged in as {{ username }}</p> -->
                <!-- <a href="/logout">Click here to logout</a> -->
               <div class="top_sub_option">
                <a class="top_sub_option_button" href="/logout">
                    Logout
                </a>
            </div>
             {% endif %}
             <div class="top_sub_option">
                <a class="top_sub_option_button" href="/admin">
                    Admin Login
                </a>
            </div>
        </div>
    </div>
 </div>
    {% block content %} 
    <h1>This is a placeholder, if you see this, there's some error</h1>
    {% endblock content %}   
    
</body>
</html>