{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}

   {{ booking_info}}

   <div class="main_block">
      <div class="middle_block">
         <div class="main_heading">
            SUCCESSFULL <br> 
            TICKET BOOKED <br>
            HAVE A SAFE JORNEY
        </div>
        <div class="">
         <br>
         <a class="main_select_button" href="/">
             GO BACK HOME
         </a>
     </div>
      </div>
   </div>

{% endblock content %}