{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}

   {{ booking_info}}

<!-- temporary link for checking -->
<link rel="stylesheet" href="../static/styles.css">



   <div class="main_block">
      <div class="middle_block">
         <div class="main_heading">
            SUCCESSFULL <br> 
            TICKET BOOKED <br>
            HAVE A SAFE JORNEY
         </div>

         <div class="ticket-flex">
            <div class="ticket-head">
               <div>
                  <h1>{{ train_info['train_no'] }}</h1>
                  <h2></h2>
               </div>
               <div>
                  <h2>{{session['username']}}</h2>
                  <h3>{{train_info['date']}}</h3>
               </div>
               
            </div>

            <div class="ticket-route">
               <h1>From</h1>
               <div class="ticket-source">
                  <h2>{{train_info['source']}}</h2>
                  <h3>Time</h3>
               </div>
               <h1>To</h1>
               <div class="ticket-destination">
                  <h2>{{train_info['destination']}}</h2>
                  <h3>Time</h3>
               </div>
            </div>

            <div class="ticket-details-head">
               
               <h1>Name</h1>
               <h2>Age</h2>
               <h2>Gender</h2>
               <h2>Class</h2>
               <h2>Seat No.</h2>
               <h2>Coach No.</h2>
               <h2>PNR</h2>
         </div>
         {% for passenger in passengers %} 
         <div class="ticket-details">
         
            <h2>{{passenger[0]}}</h2>
            <h3>{{passenger[1]}}</h3>
            <h3>{{passenger[2]}}</h3>
            <h3>{{train_info['class']}}</h3>
            <h3>Seat No.</h3>
            <h3>Coach No.</h3>
            <h3>{{passenger[3]}}</h3>
         </div>
         {% endfor %}
      </div>


         <div class="">
            <br>
            <a class="main_select_button" href="/">
               GO BACK HOME
            </a>
         </div>
      </div>
   </div>

{% endblock content %}