{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}

   {{ booking_info}}

<!-- temporary link for checking -->
<link rel="stylesheet" href="../static/styles.css">



   <div class="main_block">
      <div class="middle_block">
         <div class="main_heading">
            SUCCESSFULL <br> 
            TICKET BOOKED <br>
            HAVE A SAFE JORNEY
         </div>

         <!-- <div class="ticket-flex">
            <div class="ticket-head">
               <div>
                  <h1>11013</h1>
                  <h2>Coimbatore Expr</h2>
               </div>
               <div>
                  <h2>Username</h2>
                  <h3>Date of Journey</h3>
               </div>
               
            </div>

            <div class="ticket-route">
               <h1>From</h1>
               <div class="ticket-source">
                  <h2>Station</h2>
                  <h3>Time</h3>
               </div>
               <h1>To</h1>
               <div class="ticket-destination">
                  <h2>Station</h2>
                  <h3>Time</h3>
               </div>
            </div>

            <div class="ticket-details-head">
               
               <h1>Name</h1>
               <h2>Age</h2>
               <h2>Class</h2>
               <h2>Seat No.</h2>
               <h2>Coach No.</h2>
               <h2>PNR</h2>
         </div>
         <div class="ticket-details">
               
            <h2>Name</h2>
            <h3>Age</h3>
            <h3>Class</h3>
            <h3>Seat No.</h3>
            <h3>Coach No.</h3>
            <h3>PNR</h3>
      </div>
         </div> -->


         <div class="">
            <br>
            <a class="main_select_button" href="/">
               GO BACK HOME
            </a>
         </div>
      </div>
   </div>

{% endblock content %}