{% extends "base.html" %} 

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}

   {{output}}

    <div class="dash">

        <div class="dash-input">
            <div class="dash-buttons">
                <form action="/dashboard" method="post">
                    <button name="view-users" value="true">View Users</button>
                </form>

                <form action="/dashboard" method="post">
                    <button name="view-trains" value="true">View Trains</button>
                </form>
            </div>
           

            <form action="/dashboard" method="post">
                    <input type="text" name="custom_query" placeholder="Enter a postgres query here."/>
                    <button type="submit">Submit</button>
            </form>

        </div>

        <div class="dash-output">
            <table>
                <tr>
                {% for i in range( output[0]|length )%}
                    <th>column {{i}}</th>
                {% endfor %}
                </tr>
                {% for row in output %}
                <tr>
                {% for col in row %}
                    <td>{{col}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
   
{% endblock content %}