{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}
   
   <div class="main_block">
        <form action="/trains" method="post">
      <div class="middle_block">
         <div class="main_heading">
             DISCOVER YOUR <br>
             NEXT ADVENTURE
         </div>
 
         <div class="main_entry">
             <div class="main_username">
                 Boarding Station <br>
                 <input type="text" name="source">
             </div>
             <div class="main_username">
                 Destination Station <br>
                 <input type="text" name="destination">
             </div>
             <div class="main_date">
                 Date <br>
                 <input type="date" name="date">
             </div>
             <div class="main_username">
                 Class <br>
                 <input type="text" name="class">
             </div>
             <div class="main_button">
                 <br>
                 <input class="main_select_button" type="submit" value="Submit">
             </div>
         </div>
     </div>

        </form>
    </div>

   <!-- <form action="/index" method="post">
      input:
   </form> -->

{% endblock content %}