{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}
   
   <div class="main_block">

      <div class="middle_block">
         <div class="main_heading">
             DISCOVER YOUR <br>
             NEXT ADVENTURE
         </div>
 
         <div class="main_entry">
             <div class="main_username">
                 Boarding Station <br>
                 <input type="text">
             </div>
             <div class="main_username">
                 Destination Station <br>
                 <input type="text">
             </div>
             <div class="main_date">
                 Date <br>
                 <input type="date">
             </div>
             <div class="main_username">
                 Class <br>
                 <input type="text">
             </div>
             <div class="main_button">
                 <br>
                 <a class="main_select_button" href="https://www.google.com/">
                     Submit
                 </a>
             </div>
         </div>
     </div>

   </div>

{% endblock content %}