{% extends "base.html" %}

{% block content %}
<div class="main_block">

    <div class="middle_block">
        <div class="main_heading">
            PNR<br>
            FOR TICKET DETAILS
        </div>

        <div class="main_entry">
            <form action="/pnr_number" method="post">
                <div class="main_username">
                    PNR Number <br>
                    <input type="number" name="pnr_number" id=""/>
                </div>
                <div class="main_button">
                    <input class="main_select_button" type="submit" value="Submit">
                </div>

            </form>
        </div>
    </div>

</div>

{{pnr_number}}
<div class="main_block">
    <div class="main_entry">
    <table>
        <tr>
            <th>Train_id</th>
            <th>Seat_number</th>
            <th>Src_station</th>
            <th>Dest_station</th>
            
        </tr>
        {% for data in pnr_number %}
        <tr>
            <td>{{ data[0] }}</td>
            <td>{{ data[1] }}</td>
            <td>{{ data[2] }}</td>
            <td>{{ data[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% endblock content %}