{% extends "base.html" %}

{% block content %} 

   {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
            {% for message in messages %}
            <li> {{ message }}</li>
            {% endfor %}
      </ul>
      {% endif %}
   {% endwith %}

    <h1>Tickets</h1>
    <table>
        <tr>
            <th>Price</th>
            <th>Source Station</th>
            <th>Destination Station</th>
            <th>PNR</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ticket[1]}}</td>
            <td>{{ticket[2]}}</td>
            <td>{{ticket[3]}}</td>
            <td>{{ticket[4]}}</td>
            <td>
                <form action="/cancel" method="post" onsubmit="return confirm('Do you really want to delete this ticket')">
                    <input type="hidden" name="ticket_id" value="{{ticket[0]}}">
                    <button type="submit" >Cancel Ticket</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
   {{tickets}}
{% endblock content %}